# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Environment
.env

# Coverage
coverage.xml
coverage.out
coverage.html
htmlcov/
.coverage
.coverage.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/
